@import url('https://fonts.googleapis.com/css2?family=Bellota:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Indie+Flower&display=swap');

/*----------------------------------------------------------- Colors */
.bg-color-header {
    background-color: #21295C;
}

.bg-color-footer {
    background-color: #21295C;
}

main {
    background-color: #065A82;
}

.about-us {
    background-color: #1c7293;
}

.health-benefits {
    background-color: #065A82;
}

.swim-safety {
    background-color: #1B3B6F;
}

aside {
    background-color: #bdd4e7;
}

/*----------------------------------------------------------- Special paddings/margins/text */
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: "Indie Flower", sans-serif;
    font-weight: 300;
    color: #fcfcfc;
}

p {
    font-family: Bellota, sans-serif;
    color: #fcfcfc;
}

div {
    margin: 0;
}

/* taken from materialize */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    max-width: 1900px;
    margin: 0 auto;
}

.full-screen {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

/*----------------------------------------------------------- Header */
header {
    margin: 0;
}

.top-bar {
    min-height: 100px;
}

.bg-color-header>div {
    padding: 0;
}

.logo-container {
    padding: 0;
    margin-left: 2%;
}

.logo {
    min-height: 80px;
    line-height: 50px;
    font-family: Bellota, sans-serif;
    font-weight: 700;
    font-size: 35px;
    color: #fcfcfc;
    text-decoration: none;
}

.active {
    text-decoration: underline;
}

#nav li a {
    font-family: Bellota, sans-serif;
    font-size: 20px;
    color: #fcfcfc;
    padding: 5px;
}


#nav li a:hover {
    color: #1C7293;
}

.hero-image {
    background-color: #ADD7F6;
    height: 400px;
    background: url("../images/hero-image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-button:hover {
    background-color: #1B4079;
    color: #fcfcfc;
}

.overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.hero-title {
    z-index: 2;
    color: #fcfcfc;
    text-align: center;
}

/*----------------------------------------------------------- Main */
main {
    min-height: 300px;
}

.home-main {
    padding: 0;
}

.home-section {
    padding: 2%;
}

.home-section h2 {
    margin-top: 1%;
}

/*----------------------------------------------------------- About Us */
.about-us {
    color: #2a2b2e;
}

.about-us p {
    font-size: 20px;
    margin: 4% 0;
}

/*----------------------------------------------------------- Health Benefits */
.health-container {
    margin: 2% 0;
}

.health-benefits h3 {
    margin: 2.5%;
}

.health-benefits i {
    display: block;
    font-size: 26px;
    margin-bottom: 2%;
}

.health-benefits p {
    font-size: 20px;
    margin: 0;
}

/*----------------------------------------------------------- Swim Safety */
.rules {
    padding: 1%;
}

.swim-rule {
    min-height: 50px;
    padding: 5px;
    font-size: 18px;
}

.swim-rule i {
    display: block;
    font-size: 25px;
}


/*----------------------------------------------------------- Events */
aside {
    margin: 0 auto;
}

aside h2 {
    margin: 3%;
    color: #2a2b2e;
}

.event {
    margin: 0 auto;
    max-width: 300px;
    border-bottom: 1px solid #1C7293;
}

.event div {
    margin: 3% 0;
}

.event div h3 {
    margin-bottom: 3%;
    color: #2a2b2e;
}

.event div p {
    color: #2a2b2e;
}


/*----------------------------------------------------------- Gallery */
.gallery-title {
    margin: 3%;
}

.gallery-message {
    margin-bottom: 2rem;
}

.image-container {
    height: 400px;
    overflow: hidden;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #21295c;
}

/*----------------------------------------------------------- Sign Up Form */

#sign-up {
    scroll-behavior: smooth;
}

.center-form {
    margin: 0 auto;
    padding-top: 10px;
    width: 70%;
    max-width: 600px;
}

.sign-up-box {
    margin-top: 5%;
    margin-bottom: 20px;
}

form {
    color: #fcfcfc;
}

.sign-up-box button {
    margin: 10px;
    background-color: #fcfcfc;
    color: #21295c;

}

.sign-up-box button:hover {
    background-color: #21295c;
    color: #fcfcfc;
}

/*----------------------------------------------------------- Footer */
footer {
    height: 70px;
    font-size: 30px;
}

.footer-container {
    height: 70px;
}

.social-links {
    margin: 0;
    padding: 0;
}

.social-links li a i {
    height: 40px;
    width: 40px;
    color: white;
    line-height: 40px;
}

.social-links li a i:hover {
    color: #1c7293;
}