@import url('https://fonts.googleapis.com/css2?family=Bellota:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Indie+Flower&display=swap');

/*----------------------------------------------------------- Colors */

.bg-color-header {
    background-color: red;
}

.bg-color-footer {
    background-color: yellow;
}

/*----------------------------------------------------------- Special paddings/margins/text */

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: "Indie Flower", sans-serif;
    font-weight: 300;
    color: #fafafa;
}

p {
    font-family: Bellota, sans-serif;
    color: #fafafa;
}

div {
    margin: 0;
}

/*----------------------------------------------------------- Header */

header {
    margin: 0;
}

.logo {
    min-height: 80px;
    font-family: Bellota, sans-serif;
    font-weight: 700;
    font-size: 35px;
    color: #43548c;
    text-decoration: none;
}

#nav li a {
    font-family: Bellota, sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: #43548c;
    margin-right: 20px;
    padding: 5px;
}

.active {
    border-bottom: 6px dotted #43548c;
  }

#nav li a:hover {
    color: green;
}

.active:hover {
    border-bottom: 6px dotted green;
}

.hero-image {
    background-color: #007bff; 
    height: 400px;
    background: url("../images/hero-image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1; 
}

.hero-title {
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2; 
    color: white; 
    text-align: center;
}

/*----------------------------------------------------------- Main */

main {
    min-height: 300px;
    background-color: pink;
    
}

/*----------------------------------------------------------- About Us */

.about-us {
    min-height: 30px;
    margin: 10px;
    padding: 20px;
    background-color: lime;
}

/*----------------------------------------------------------- Health Benefits */

.health-benefits {
    background-color: blue;
    margin: 10px;
}

.health-benefits i {
    display: block;
    font-size: 26px;
}

/*----------------------------------------------------------- Swim Safety */

.swim-safety {
    min-height: 30px;
    margin: 10px;
    background-color: orange;
}

.swim-rule {
    min-height: 50px;
    padding: 5px;
    background-color: violet;
}

.swim-rule i{
    display: block;
    font-size: 20px;
}


/*----------------------------------------------------------- Events */

aside {
    min-height: 200px;
    background-color: purple;
    
}

/*----------------------------------------------------------- Gallery */

.gallery-image {
    border: solid 2px black;
    min-height: 40px;
}

/*----------------------------------------------------------- Sign Up Form */

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 60%;
}

.sign-up-box {
    margin-top: 20px;
    margin-bottom: 20px;
}

.sign-up-box button {
    margin: 10px;
}

/*----------------------------------------------------------- Footer */

footer {
    font-size: 30px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    margin: 10px 20px;
    color: white;
}

.social-links li a i:hover {
    color: orange;
}

