@import url('https://fonts.googleapis.com/css2?family=Bellota:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Indie+Flower&display=swap');

/*----------------------------------------------------------- Colors */
header {
    background-color: #21295C;
}

footer {
    background-color: #21295C;
}

main {
    background-color: #065A82;
}

.about-us {
    background-color: #1c7293;
}

.health-benefits {
    background-color: #065A82;
}

.swim-safety {
    background-color: #1B3B6F;
}

aside {
    background-color: #bdd4e7;
}

/*----------------------------------------------------------- Special paddings/margins/text */
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: "Indie Flower", sans-serif;
    font-weight: 300;
    color: #fcfcfc;
}

p {
    font-family: Bellota, sans-serif;
    color: #fcfcfc;
}

div {
    margin: 0;
}

/* taken from materialize */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    max-width: 1900px;
    margin: 0 auto;
}

.full-screen {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

/*----------------------------------------------------------- Header */
.top-bar {
    min-height: 100px;
}

.logo {
    margin-left: 2%;
}

.logo a {
    font-family: Bellota, sans-serif;
    font-weight: 700;
    font-size: 35px;
    color: #fcfcfc;
    text-decoration: none;
}

.active {
    text-decoration: underline;
}

#nav a {
    font-family: Bellota, sans-serif;
    font-size: 20px;
    color: #fcfcfc;
}


#nav a:hover {
    color: #1C7293;
}

.hero-image {
    height: 400px;
    background: url("../images/hero-image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.hero-image a:hover {
    background-color: #1B4079;
    color: #fcfcfc;
}

/*----------------------------------------------------------- Main */
.home-main {
    padding: 0;
}

.home-main section {
    padding: 2%;
}

.home-main h2 {
    margin-top: 1%;
}

/*----------------------------------------------------------- About Us */
.about-us p {
    font-size: 20px;
    margin: 4% 0;
}

/*----------------------------------------------------------- Health Benefits */
.health-container {
    margin: 2% 0;
}

.health-container h3 {
    margin: 2.5%;
}

.health-container i {
    display: block;
    font-size: 26px;
    margin-bottom: 2%;
}

.health-container p {
    font-size: 20px;
    margin: 0;
}

/*----------------------------------------------------------- Swim Safety */
.rules-container {
    padding: 1%;
}

.swim-rule {
    padding: 5px;
    font-size: 18px;
}

.swim-rule i {
    display: block;
    font-size: 25px;
}


/*----------------------------------------------------------- Events */
aside h2 {
    margin: 3%;
    color: #2a2b2e;
}

.event {
    margin: 0 auto;
    max-width: 300px;
    border-bottom: 1px solid #1C7293;
}

.event div {
    margin: 3% 0;
}

.event h3 {
    margin-bottom: 3%;
    color: #2a2b2e;
}

.event p {
    color: #2a2b2e;
}


/*----------------------------------------------------------- Gallery */
.gallery h2 {
    margin: 3%;
}

.gallery p {
    margin-bottom: 2%;
}

.image-container {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #21295c;
}

/*----------------------------------------------------------- Sign Up Form */

#sign-up {
    scroll-behavior: smooth;
}

.center-form {
    margin: 0 auto;
    padding-top: 5%;
    width: 70%;
    max-width: 600px;
}

.sign-up-box {
    margin-top: 5%;
    margin-bottom: 20px;
}

.sign-up-box p {
    font-size: 20px;
    margin-top: 2%;
}

.form-label {
    margin-top: .5rem;
    color: #fcfcfc;
}

.sign-up-box button {
    margin: 15px;
    background-color: #fcfcfc;
    color: #21295c;

}

.sign-up-box button:hover {
    background-color: #21295c;
    color: #fcfcfc;
}

/*----------------------------------------------------------- Response Page */
.signup-message {
    width: 50%;
}

.signup-message h2 {
    margin: 2%;
}

/*----------------------------------------------------------- Footer */
.footer-container {
    height: 70px;
    font-size: 30px;
}

.social-links {
    margin: 0;
}

.social-links i {
    height: 40px;
    width: 40px;
    color: #fcfcfc;
    line-height: 40px;
}

.social-links i:hover {
    color: #1c7293;
}